annotated-types
app
argon2-cffi-bindings 
asttokens 
async-lru 
attrs
Babel
backcall
beautifulsoup4
bleach
blinker
blis
catalogue
certifi
cffi
click
cloudpathlib
colorama
comm
confection
contourpy
cryptography
cycler
cymem
dash==2.15.0
dash-bootstrap-components
dash-core-components
dash-holoniq-wordcloud
dash-html-components
dash-mantine-components
dash-table
dash-wordcloud
debugpy
decorator
defusedxml
docopt

exceptiongroup
executing
fastjsonschema
Flask
fonttools
greenlet
html2text
HTMLParser
idna
importlib-metadata 
inscriptis
ipykernel
ipython
ipywidgets
itsdangerous
jedi
Jinja2
joblib
json5 
jsonschema 
jsonschema-specifications 
jupyter 
jupyter-cache
jupyter-console
jupyter-events 
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server 
jupyter_server_terminals
jupyterlab 
jupyterlab-pygments 
jupyterlab-widgets
jupyterlab_server
kiwisolver
langcodes
lxml
MarkupSafe
matplotlib
matplotlib-inline 
mistune 
murmurhash
nbclient 
nbconvert
nbformat 
nest_asyncio 
nltk
notebook 
notebook_shim 
numpy 
packaging 
pandas 
pandocfilters 
parso 
pickleshare 
pillow
pipreqs
platformdirs 
plotly
ply
preshed
prometheus-client 
prompt-toolkit 
psutil 
pure-eval 
pycparser 
pydantic
pydantic_core
Pygments 
pyparsing
PyPDF2
PyQt5
PyQt5-sip 
python-dateutil 
python-json-logger 
pytz 
pywinpty 
PyYAML 
pyzmq 
qtconsole 
QtPy 
regex
requests 
retrying
rfc3339-validator 
rfc3986-validator 
rpds-py 
scikit-learn
scipy
seaborn
selectolax
Send2Trash 
sip 
six 
smart-open
sniffio 
soupsieve 
spacy
spacy-legacy
spacy-loggers
SQLAlchemy 
srsly
stack-data 
stata-setup
stripogram
tabulate 
tenacity
terminado 
thinc
threadpoolctl
tinycss2 
tomli 
tornado 
tqdm
traitlets 
typer
typing_extensions 
urllib3 
wasabi
wcwidth 
weasel
webencodings
websocket-client 
Werkzeug
widgetsnbextension 
wordcloud
yarg
zipp 