took out: en-core-web-sm 

annotated-types==0.6.0
app==0.0.1
argon2-cffi-bindings 
asttokens 
async-lru 
attrs
Babel
backcall==0.2.0
beautifulsoup4
bleach
blinker==1.7.0
blis==0.7.11
catalogue==2.0.10
certifi
cffi
click
cloudpathlib==0.16.0
colorama
comm
confection==0.1.4
contourpy==1.2.0
cryptography==42.0.2
cycler==0.12.1
cymem==2.0.8
dash==2.15.0
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-holoniq-wordcloud==0.0.4
dash-html-components==2.0.0
dash-mantine-components==0.12.1
dash-table==5.0.0
dash-wordcloud==0.3.4
debugpy
decorator
defusedxml
docopt==0.6.2
en-core-web-sm 
exceptiongroup
executing
fastjsonschema
Flask==3.0.2
fonttools==4.48.1
greenlet
html2text==2020.1.16
HTMLParser==0.0.2
idna
importlib-metadata 
inscriptis==2.4.0.1
ipykernel
ipython==8.12.3
ipywidgets
itsdangerous==2.1.2
jedi
Jinja2
joblib==1.3.2
json5 
jsonschema 
jsonschema-specifications 
jupyter 
jupyter-cache
jupyter-console
jupyter-events 
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server 
jupyter_server_terminals
jupyterlab 
jupyterlab-pygments 
jupyterlab-widgets
jupyterlab_server
kiwisolver==1.4.5
langcodes==3.3.0
lxml==5.1.0
MarkupSafe
matplotlib==3.8.2
matplotlib-inline 
mistune 
murmurhash==1.0.10
nbclient 
nbconvert==7.16.1
nbformat 
nest_asyncio 
nltk==3.8.1
notebook 
notebook_shim 
numpy 
packaging 
pandas 
pandocfilters 
parso 
pickleshare 
pillow==10.2.0
pipreqs==0.5.0
platformdirs 
plotly==5.18.0
ply==3.11
preshed==3.0.9
prometheus-client 
prompt-toolkit 
psutil 
pure-eval 
pycparser 
pydantic==2.6.1
pydantic_core==2.16.2
Pygments 
pyparsing==3.1.1
PyPDF2==3.0.1
PyQt5==5.15.10
PyQt5-sip 
python-dateutil 
python-json-logger 
pytz 
pywin32==305.1
pywinpty 
PyYAML 
pyzmq 
qtconsole 
QtPy 
regex==2023.12.25
requests 
retrying==1.3.4
rfc3339-validator 
rfc3986-validator 
rpds-py 
scikit-learn==1.4.0
scipy==1.12.0
seaborn==0.13.2
selectolax==0.3.20
Send2Trash 
sip 
six 
smart-open==6.4.0
sniffio 
soupsieve 
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy 
srsly==2.4.8
stack-data 
stata-setup==0.1.3
stripogram==1.5
tabulate 
tenacity==8.2.3
terminado 
thinc==8.2.3
threadpoolctl==3.2.0
tinycss2 
tomli 
tornado 
tqdm==4.66.2
traitlets 
typer==0.9.0
typing_extensions 
urllib3 
wasabi==1.1.2
wcwidth 
weasel==0.3.4
webencodings==0.5.1
websocket-client 
Werkzeug==3.0.1
widgetsnbextension 
wordcloud==1.9.3
yarg==0.1.9
zipp 